body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.attraction-wrapper{
    flex: 1; /* 讓內容區塊填滿剩餘空間 */
    display: flex;
    flex-direction: column;
}

.nav__hr-bottom{
    border-bottom:1px solid #E8E8E8;
}

.attraction-section{
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
    
}

.attraction-section__pictureBar{
    width: 540px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    flex-shrink: 0;
}

.attraction-section__picture-leftArrow{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 10px;
    top: 50%;
    opacity: 0.75;
    z-index: 10;
    transform: translate(0,-50%);
    cursor: pointer;
}

.attraction-section__picture-rightArrow{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 10px;
    top: 50%;
    opacity: 0.75;
    z-index: 10;
    transform: translate(0,-50%);
    cursor: pointer;
}

.attraction-section__circle-box{
    width: fit-content;
    height: 12px;
    opacity: 75%;
    z-index: 15;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%,0);
}


.circle-box__small-circle{
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border-radius: 50%;
}

.circle-box__small-circle--origin{
    background-color: #FFFFFF;
}

.circle-box__small-circle--change{
    background-color: #000000;
    border: 1px solid #FFFFFF;
}



.attraction-section__picture-current{
    width: fit-content;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    transition: transform 1s ease;
}

.attraction-section__picture-current--wrapper{
    width: 540px;
    height: 100%;
    border-radius: 5px;
    flex-shrink: 0;
    overflow: hidden;
}

.attraction-section__picture-current--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    object-position: center;
}

.attraction-section__profile{
    width: 600px;
    height: 100%;
    margin-left: 30px;
}

.profile__name{
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
}

.profile__category{
    width: 100%;
    height: 22px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.profile__booking-form{
    width: 100%;
    height: 302px;
    border-radius: 5px;
    background-color: #E8E8E8;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    /* align-items: center; */
}

.booking-form__text--1{
    width: fit-content;
    height: 22px;
    margin-top: 15px;
}

.booking-form__text--2{
    width: fit-content;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.booking-form__filed-date{
    width: fit-content;
    height: 35px;
    margin-top: 15px;
}

.booking-form__filed-date input{
    width: 193px;
    height: 35px;
    margin-left: 5px;
    border:none;
    padding: 5px 10px ;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.booking-form__filed-time{
    width: fit-content;
    height: 22px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.booking-form__filed-time input{
    appearance: none;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.booking-form__filed-time input:checked{
    background-color: #448899;    
    border: 2px solid #FFFFFF;
}

.booking-form__filed-time label{
    margin-right: 8px;
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
}
.booking-form__filed-price{
    width: fit-content;
    height: 22px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.booking-form__filed-price div{
    margin-left: 5px;
}

.booking-form__button{
    width: 154px;
    height: 36px;
    margin-top: 25px;
    background-color: #448899;
    border-radius: 5px;
    cursor: pointer;
}

.attraction-hr{
    border: 1px solid #e8e8e8; 
    width:1200px; 
    margin-top: 40px
}

.infors{
    width: 100%;
    max-width: 1200px;
    min-height: 362px;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.infors__description{
    max-width:1180px;
    height:fit-content;
    margin-bottom: 20px;
}

.infors__location-title{
    max-width:1180px;
    height: 32px;
}

.infors__location-content{
    max-width:1180px;
    height: 24px;
    margin-bottom: 20px;
}

.infors__traffic-title{
    max-width:1180px;
    height: 32px;
}

.infors__traffic-content{
    max-width:1180px;
    height: fit-content;
}

@media(max-width:1200px){

    .attraction-section{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0 0;
        align-items: center;
        margin-top: 0;
    }

    .attraction-section__pictureBar{
        width: 100%;
        height: 500px;
    }

    .attraction-section__picture-current{
        width: 100%;
    }

    .attraction-section__picture-current--wrapper{
        width: 100%;
    }

    .attraction-section__profile{
        margin-left: 0;
        margin-top: 20px;
        width: 90%;
    }

    .infors{
        width: 90%;
    }

    .attraction-hr{
        width: 90%;
    }

}

@media(max-width:500px){
    .attraction-section__pictureBar{
        height: 350px;
    }

    .attraction-section__profile{
        margin-left: 10;
        margin-top: 20px;
        width: 94.4%;
    }

    .infors{
        width: 94.4%;
    }
}